# import libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Read Data

In [2]:
df = pd.read_csv('adultdata.csv')
df.head()

,AGE,WORKCLASS,FNLWGT,EDUCATION,EDUCATION -NUM,MARIETAL STSTUS,OCCUPATION,RELATIONSHIP,RACE,SEX,CAPITAL-GAIN,CAPITAL-LOSS,HOURS/WEEK,NATIVE COUNTRY,TARGET
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

# to find numeric and non numerical cols

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   AGE              32561 non-null  int64
 1   WORKCLASS        32561 non-null  object
 2   FNLWGT           32561 non-null  int64
 3   EDUCATION        32561 non-null  object
 4   EDUCATION -NUM   32561 non-null  int64
 5   MARIETAL STSTUS  32561 non-null  object
 6   OCCUPATION       32561 non-null  object
 7   RELATIONSHIP     32561 non-null  object
 8   RACE             32561 non-null  object
 9   SEX              32561 non-null  object
 10  CAPITAL-GAIN     32561 non-null  int64
 11  CAPITAL-LOSS     32561 non-null  int64
 12  HOURS/WEEK       32561 non-null  int64
 13  NATIVE COUNTRY   32561 non-null  object
 14  TARGET           32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [5]:
num_cols = list(df.select_dtypes(exclude='object').columns)
num_cols

['AGE',
 'FNLWGT',
 'EDUCATION -NUM',
 'CAPITAL-GAIN',
 'CAPITAL-LOSS',
 'HOURS/WEEK']

In [26]:
cat_cols = list(df.select_dtypes(include='object').columns)
cat_cols.remove('TARGET')
df[cat_cols]

,WORKCLASS,EDUCATION,MARIETAL STSTUS,OCCUPATION,RELATIONSHIP,RACE,SEX,NATIVE COUNTRY
0,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,United-States
1,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States
2,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,United-States
3,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,United-States
4,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,Cuba
...,...,...,...,...,...,...,...,...
32556,Private,Assoc-acdm,Married-civ-spouse,Tech-support,Wife,White,Female,United-States
32557,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,United-States
32558,Private,HS-grad,Widowed,Adm-clerical,Unmarried,White,Female,United-States
32559,Private,HS-grad,Never-married,Adm-clerical,Own-child,White,Male,United-States
32560,Self-emp-inc,HS-grad,Married-civ-spouse,Exec-managerial,Wife,White,Female,United-States

# Filling Missing Values

In [7]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(sparse=False)
ohe.fit(df[cat_cols])

OneHotEncoder(sparse=False)

In [8]:
new_cols = list(ohe.get_feature_names())
new_cols

C:\Users\shiva\anaconda3\envs\DSML17_env\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['x0_ ?',
 'x0_ Federal-gov',
 'x0_ Local-gov',
 'x0_ Never-worked',
 'x0_ Private',
 'x0_ Self-emp-inc',
 'x0_ Self-emp-not-inc',
 'x0_ State-gov',
 'x0_ Without-pay',
 'x1_ 10th',
 'x1_ 11th',
 'x1_ 12th',
 'x1_ 1st-4th',
 'x1_ 5th-6th',
 'x1_ 7th-8th',
 'x1_ 9th',
 'x1_ Assoc-acdm',
 'x1_ Assoc-voc',
 'x1_ Bachelors',
 'x1_ Doctorate',
 'x1_ HS-grad',
 'x1_ Masters',
 'x1_ Preschool',
 'x1_ Prof-school',
 'x1_ Some-college',
 'x2_ Divorced',
 'x2_ Married-AF-spouse',
 'x2_ Married-civ-spouse',
 'x2_ Married-spouse-absent',
 'x2_ Never-married',
 'x2_ Separated',
 'x2_ Widowed',
 'x3_ ?',
 'x3_ Adm-clerical',
 'x3_ Armed-Forces',
 'x3_ Craft-repair',
 'x3_ Exec-managerial',
 'x3_ Farming-fishing',
 'x3_ Handlers-cleaners',
 'x3_ Machine-op-inspct',
 'x3_ Other-service',
 'x3_ Priv-house-serv',
 'x3_ Prof-specialty',
 'x3_ Protective-serv',
 'x3_ Sales',
 'x3_ Tech-support',
 'x3_ Transport-moving',
 'x4_ Husband',
 'x4_ Not-in-family',
 'x4_ Other-relative',
 'x4_ Own-child',
 'x4_ Unmarried',
 'x4_ Wife',
 'x5_ Amer-Indian-Eskimo',
 'x5_ Asian-Pac-Islander',
 'x5_ Black',
 'x5_ Other',
 'x5_ White',
 'x6_ Female',
 'x6_ Male',
 'x7_ ?',
 'x7_ Cambodia',
 'x7_ Canada',
 'x7_ China',
 'x7_ Columbia',
 'x7_ Cuba',
 'x7_ Dominican-Republic',
 'x7_ Ecuador',
 'x7_ El-Salvador',
 'x7_ England',
 'x7_ France',
 'x7_ Germany',
 'x7_ Greece',
 'x7_ Guatemala',
 'x7_ Haiti',
 'x7_ Holand-Netherlands',
 'x7_ Honduras',
 'x7_ Hong',
 'x7_ Hungary',
 'x7_ India',
 'x7_ Iran',
 'x7_ Ireland',
 'x7_ Italy',
 'x7_ Jamaica',
 'x7_ Japan',
 'x7_ Laos',
 'x7_ Mexico',
 'x7_ Nicaragua',
 'x7_ Outlying-US(Guam-USVI-etc)',
 'x7_ Peru',
 'x7_ Philippines',
 'x7_ Poland',
 'x7_ Portugal',
 'x7_ Puerto-Rico',
 'x7_ Scotland',
 'x7_ South',
 'x7_ Taiwan',
 'x7_ Thailand',
 'x7_ Trinadad&Tobago',
 'x7_ United-States',
 'x7_ Vietnam',
 'x7_ Yugoslavia']

In [9]:
df[new_cols] = ohe.transform(df[cat_cols])

C:\Users\shiva\AppData\Local\Temp\ipykernel_3580\1197033625.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[new_cols] = ohe.transform(df[cat_cols])
C:\Users\shiva\AppData\Local\Temp\ipykernel_3580\1197033625.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[new_cols] = ohe.transform(df[cat_cols])
C:\Users\shiva\AppData\Local\Temp\ipykernel_3580\1197033625.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[new_cols] = ohe.transform(df[cat_cols])
C:\Users\shiva\AppData\Local\Temp\ipykernel_3580\1197033625.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[new_cols] = ohe.transform(df[cat_cols])

# Finding X and Y Column

In [20]:
X = df[new_cols + num_cols]
y = df['TARGET']

# Model Building

In [22]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier()

In [23]:
model.fit(X,y)

KNeighborsClassifier()

In [25]:
model.score(X,y)

0.8358158533214581